:root {
    --primary-black-color:black;
    --bg-primary-color:tan;
    --bg-secondary-color:rgb(244, 228, 207);
    --font-weight-bg:800; 
    --font-weight-md:600;
    --font-weight-sm:400;
    --font-size-bg:2rem;
    --font-size-md:1.3rem; 
    --font-size-sm:1rem;
    --font-size-xsm:0.8rem;
    --nav-height:8vh
}
.navbar-wrapper{
    background-color: var(--bg-primary-color);
    width: 100%;
    font-size: var(--font-size-xsm);
    position: relative;
    box-shadow: 1px 1px 1px gray;
}
.navbar{
    width: 80%;
    margin: 0 auto;
    display: flex; 
    align-items: center; 
    height: var(--nav-height);
    /* border-bottom: solid 0.6px gray; */
}

.left-nav{
    flex: 6;
}
.left-nav > .logo-title{
    color: var(--primary-black-color);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bg);
}


.right-nav{
    height: calc(100vh - var(--nav-height));
    flex: 6;
    position: absolute;
    top:calc(var(--nav-height) + 0.0vh);
    right: 0px; 
    background-color: var(--bg-secondary-color); 
    width: 0rem; 
    overflow-x: hidden;
    align-items: center;
    transition: width .5s ease;
    display: flex;
    flex-direction: column;
    z-index: 99;
}

.display{
    width: 100%;
}


.right-nav-item{
    margin: 2rem;
}

.hambuger, .right-nav > button{
    border-radius: 10px;
    padding: 0.8rem 1.6rem;
    background-color: var(--bg-primary-color);
    outline: none;
    border: 1px solid var(--primary-black-color);
}

.hambuger{
    text-align: center;
    padding: 0.4rem .8rem;
    border: none;
}

@media screen and (max-width: 880px) {
    .right-nav{
        flex:8
    }
}

@media screen and (min-width: 767px) {
    .right-nav{
        display: flex;
        flex-direction: row;
        position: static;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 0px;
        overflow: visible;
        background-color: var(--bg-primary-color);
    }
    .navbar-wrapper{
        font-size: var(--font-size-sm);
    }
    .hambuger{
        display: none;
    }
    .right-nav-item{
        margin: 0;
    }
    
}

