:root {
    --primary-color:black;
    --navbar-bg:tan;
    --font-weight-bg:800; 
    --font-weight-md:600;
    --font-weight-sm:400;
    --font-size-bg:2rem;
    --font-size-md:1.3rem; 
    --font-size-sm:1rem;
    --font-size-xsm:0.8rem;
    --nav-height:8vh
}
.navbar-wrapper{
    background-color: var(--navbar-bg);
    width: 100%;
    font-size: var(--font-size-xsm);
    position: relative;
}
.navbar{
    width: 85%;
    margin: 0 auto;
    display: flex; 
    align-items: center; 
    height: var(--nav-height);
}

.left-nav{
    flex: 5;
}
.left-nav > .logo-title{
    color: var(--primary-color);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bg);
}


.right-nav{
    height: calc(100vh - var(--nav-height));
    flex: 6;
    position: absolute;
    top:calc(var(--nav-height) + 0.0vh);
    right: 0px; 
    background-color: var(--navbar-bg); 
    width: 0rem; 
    overflow-x: hidden;
    align-items: center;
    transition: width 1s ease;
   
}

.display{
    display: flex;
    flex-direction: column;
    width: 48%;
}


.right-nav-item{
    margin: 2rem;
}

.hambuger, .right-nav > button{
    border-radius: 20px;
    padding: 0.5rem 1.2rem;
    background-color: aliceblue;
    outline: none;
    border: 1px solid var(--primary-color);
}

@media screen and (min-width: 767px) {
    .right-nav{
        display: flex;
        flex-direction: row;
        position: static;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 0px;
        overflow: visible;
    }
    .navbar-wrapper{
        font-size: var(--font-size-sm);
    }
    .hambuger{
        display: none;
    }
    .right-nav-item{
        margin: 0;
    }
    
}
